/* font-family: 'Lato', sans-serif; */
/* font-family: 'Merriweather', serif; */
/* font-family: 'Sofia', cursive; */

/* Customize Scroll Bar*/
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background: #ccd7f7;
  border-radius: 10px;
}

/*
main-bg- #0a1930


text-main-#ccd7f7
text-gray-#8891b0

text-high-light-#64feda


*/
